/* Обнуление отступов и размеров по умолчанию */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Удаление списочных маркеров и выравнивание списка */
ul,
ol {
  list-style: none;
}

/* Удаление подчеркивания ссылок и установка цвета */
a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

a:hover {
  opacity: 0.8;
}

/* Сброс стилей для изображений */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Убираем лишний скролл и применяем глобальный бекграунд */
html,
body {
  background-color: #121214;
}

/* Установка базового шрифта */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
}

/* Обнуление стилей кнопок и инпутов */
button,
input,
textarea {
  font: inherit;
  border: none;
  background: none;
  outline: none;
  color: #ffffff;
}

button {
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  opacity: 0.8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__nav-controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__nav-btn--signup {
  padding: 8px 20px;
  background-color: #ffffff;
  border-radius: 32px;
  color: #000000;
}

.banner {
  background-color: #0033ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.banner__text {
  margin-right: 16px;
}

.hero {
  position: relative;
  z-index: 1;
  padding-top: 140px;
  padding-bottom: 16px;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero__title {
  max-width: 513px;
  font-size: 72px;
  line-height: 72px;
  font-weight: 400;
}

.hero__subtitle {
  margin-top: 26px;
  margin-bottom: 44px;
  max-width: 412px;
  font-size: 20px;
  line-height: 24px;
}

.hero__btn {
  padding: 16px 32px;
  background-color: #0033ff;
  border-radius: 8px;
  color: #ffffff;
  margin-bottom: 150px;
}

.hero__more {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.hero__more:hover .hero__more-icon {
  transform: translateY(-4px);
}

.hero__more-icon {
  transition: transform 0.3s ease;
}

/* -------------MY STYLE #2 Lesson ------------------- */
.blue__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

  font-size: 16px;

  font-weight: 400;

  border-radius: 8px;
  background: #03f;
  padding: 5px 20px;
  width: fit-content;
}
.sound__subtitle,
.conected__subtitle,
.gear__subtitle,
.technology__subtitle {
  color: #fff;

  font-size: 28px;

  font-weight: 400;
}
.sound__title,
.conected__title,
.gear__title,
.technology__title {
  color: #a6a8ad;

  font-size: 12px;

  font-weight: 400;

  letter-spacing: 0.12px;
  text-transform: uppercase;
}
.technology__text {
  color: #fff;

  font-size: 16px;

  font-weight: 400;
  max-width: 441px;
}
.gear__text {
  color: #fff;

  font-size: 16px;

  font-weight: 400;
  max-width: 424px;
}
.conected__text {
  color: #fff;

  font-size: 16px;

  font-weight: 400;
  max-width: 422px;
  text-align: right;
}
.sound__text {
  color: #fff;

  font-size: 16px;

  font-weight: 400;
  max-width: 374px;
}
.gear__img {
  max-width: 580px;
}
.conected__img {
  max-width: 579px;
}
.technology__img {
  max-width: 579px;
}
.flex__case {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 96px 0 0 0;
}
.flex__case-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.flex__case img {
  width: 100%;
  height: auto;
}

.conected__body,
.technology__body {
  flex-direction: row-reverse;
}
.conected__info,
.technology__info {
  display: flex;
  flex-direction: column;
  align-items: end;
}

/* -------------MY STYLE #3 Lesson ------------------- */
.creators {
  padding: 120px 0;
}
.creators__title {
  color: #fff;

  font-size: 28px;

  font-weight: 400;
  margin-bottom: 24px;
}
.creators__case {
  gap: 10px;
  padding: 0;
}
.creators__card {
  border-radius: 8px;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}
.card__img {
  max-width: 223px;
  margin-bottom: 30px;
}
.creators__text {
  color: #000;
  font-size: 20px;
  line-height: 25px; /* 125% */
  letter-spacing: 0.3px;
  margin-bottom: 16px;
}
.creators__name {
  color: #767676;
  font-size: 14px;
  line-height: 20px; /* 142.857% */
}

/* -------------MY STYLE #4 Lesson ------------------- */

.splice {
  background: url("../assets/img/splice__bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  min-height: 728px;
}
.splice__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 57px;
}
.splice__title {
  color: #fff;
  font-size: 54px;
}
.footer__body{
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 50px 0 60px 0;
}
.footer__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__nav-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__nav-controls {
  display: flex;
  align-items: center;
  gap: 20px;
}
