/* Обнуление отступов и размеров по умолчанию */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Удаление списочных маркеров и выравнивание списка */
ul,
ol {
  list-style: none;
}

/* Удаление подчеркивания ссылок и установка цвета */
a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

a:hover {
  opacity: 0.8;
}

/* Сброс стилей для изображений */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Убираем лишний скролл и применяем глобальный бекграунд */
html,
body {
  background-color: #121214;
}

/* Установка базового шрифта */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
}

/* Обнуление стилей кнопок и инпутов */
button,
input,
textarea {
  font: inherit;
  border: none;
  background: none;
  outline: none;
  color: #ffffff;
}

button {
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  opacity: 0.8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__nav-controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__nav-btn--signup {
  padding: 8px 20px;
  background-color: #ffffff;
  border-radius: 32px;
  color: #000000;
}

.banner {
  background-color: #0033ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.banner__text {
  margin-right: 16px;
}

.hero {
  position: relative;
  z-index: 1;
  padding-top: 140px;
  padding-bottom: 16px;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero__title {
  max-width: 513px;
  font-size: 72px;
  line-height: 72px;
  font-weight: 400;
}

.hero__subtitle {
  margin-top: 26px;
  margin-bottom: 44px;
  max-width: 412px;
  font-size: 20px;
  line-height: 24px;
}

.hero__btn {
  padding: 16px 32px;
  background-color: #0033ff;
  border-radius: 8px;
  color: #ffffff;
  margin-bottom: 150px;
}

.hero__more {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.hero__more:hover .hero__more-icon {
  transform: translateY(-4px);
}

.hero__more-icon {
  transition: transform 0.3s ease;
}

.sounds {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 96px;
}

.sounds__text-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sounds__label {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 14px;
  color: #a6a8ad;
}

.sounds__title {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
}

.sounds__subtitle {
  max-width: 422px;
  font-size: 16px;
  line-height: 24px;
}

.sounds__btn {
  padding: 8px 20px;
  background-color: #0033ff;
  border-radius: 8px;
  width: fit-content;
}

.sounds__img {
  width: 100%;
  max-width: 580px;
}

.connectedExperience {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 96px;
}

.connectedExperience__text-content {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 16px;
}

.connectedExperience__label {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 14px;
  color: #a6a8ad;
}

.connectedExperience__title {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
}

.connectedExperience__subtitle {
  text-align: end;
  max-width: 422px;
  font-size: 16px;
  line-height: 24px;
}

.connectedExperience__btn {
  padding: 8px 20px;
  background-color: #0033ff;
  border-radius: 8px;
  width: fit-content;
}

.connectedExperience__img {
  width: 100%;
  max-width: 580px;
}

.gear {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 96px;
}

.gear__text-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.gear__label {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 14px;
  color: #a6a8ad;
}

.gear__title {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
}

.gear__subtitle {
  max-width: 422px;
  font-size: 16px;
  line-height: 24px;
}

.gear__btn {
  padding: 8px 20px;
  background-color: #0033ff;
  border-radius: 8px;
  width: fit-content;
}

.gear__img {
  width: 100%;
  max-width: 580px;
}

.technology {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 96px;
}

.technology__text-content {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 16px;
}

.technology__label {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 14px;
  color: #a6a8ad;
}

.technology__title {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
}

.technology__subtitle {
  text-align: end;
  max-width: 442px;
  font-size: 16px;
  line-height: 24px;
}

.technology__btn {
  padding: 8px 20px;
  background-color: #0033ff;
  border-radius: 8px;
  width: fit-content;
}

.technology__img {
  width: 100%;
  max-width: 580px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 120px;
}

.cards__title {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
}

.cards__content {
  display: flex;
  gap: 10px;
}

.card {
  padding: 32px;
  background-color: #f8f8f8;
  border-radius: 8px;
}

.card__img {
  width: 100%;
  max-width: 223px;
  margin: 0 auto;
}

.card__text {
  color: #000000;
  font-size: 20px;
  line-height: 25px;
  margin-top: 30px;
  margin-bottom: 16px;
}

.card__author {
  font-size: 14px;
  line-height: 20px;
  color: #767676;
}

.hero-footer {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  padding-top: 284px;
  padding-bottom: 288px;
}

.hero-footer__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-footer__title {
  font-weight: 400;
  font-size: 54px;
  line-height: 60px;
}

.hero-footer__btn {
  padding: 8px 20px;
  border-radius: 8px;
  background-color: #0033ff;
}

.footer {
  padding-top: 48px;
  padding-bottom: 60px;
}

.footer__list {
  display: flex;
  gap: 24px;
}

.footer__rights {
  color: #a6a8ad;
}

.footer__link-item {
  color: #a6a8ad;
}

/* -----------------My code Lesson 5---------------- */

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.header__nav-btn--signup {
  padding: 8px 20px;
  background-color: #ffffff;
  border-radius: 32px;
  color: #000000;
}

.header-burger {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.header-burger .burger span {
  display: block;
  width: 20px;
  height: 2px;
  margin-bottom: 3px;
  background-color: #ffffff;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .header__nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #000000;
    padding: 20px;
    gap: 15px;
    z-index: 999;
  }

  .header__nav.active .header__nav-list {
    display: flex;
  }

  .header-burger {
    display: block;
  }

  .header__nav-controls {
    display: none;
  }

  .header-burger.active .burger span:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
  }

  .header-burger.active .burger span:nth-child(2) {
    opacity: 0;
  }

  .header-burger.active .burger span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
  }
  .banner {
    padding: 11px 20px 16px 20px;
  }
  .banner__text {
    max-width: 289px;
  }
  .hero{
    padding: 40px 0 ;
  }
  .hero__title {
    font-size: 48px;

    line-height: 48px; /* 100% */
    letter-spacing: 1.08px;
  }
  .hero__subtitle {
    font-size: 20px;

    line-height: 24px; /* 120% */
  }
  .hero__btn{
    margin-bottom: 0px;
  }
  .hero__more{
    display: none;
  }
  .sounds {
    flex-direction: column-reverse;
    
  }
  .sounds__text-content{
    margin-top: 51px;
    align-items: center;
    text-align: center;
  }
  .connectedExperience {
    flex-direction: column;
    
  }
  .connectedExperience__text-content{
    margin-top: 58px;
    align-items: center;
    text-align: center;
  }
  .connectedExperience__subtitle{
    text-align: center;
  }
  .gear {
    flex-direction: column-reverse;
    
  }
  .gear__text-content{
    margin-top: 44px;
    align-items: center;
    text-align: center;
  }
  .technology {
    flex-direction: column;
    
  }
  .technology__text-content{
    margin-top: 17px;
    align-items: center;
    
  }
  .technology__subtitle{
    text-align: center;
  }
  .cards__title{
    max-width: 367px;
    margin: 0 auto;
    text-align: center;
  }
  .cards__content{
    flex-direction: column;
  }
  .hero-footer{
    padding: 109px 0;
  }
  .footer__list {
    flex-direction: column-reverse;
    align-items: center;
  }
}
